<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='navbar'>
    <ion-title>我的资料</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="subClick()">完成</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="swiper-container companyP" style="position:relative">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" *ngFor="let img of allImgs">
        <img [src]="img.url"/>
      </div>
    </div>
    <button clear ion-button icon-only color="negative" (click)="addPics()" style="position:absolute;left:5%;bottom:0;z-index:99999"><ion-icon name="add-circle"></ion-icon></button>
    <button clear ion-button icon-only color="danger" (click)="removePics()" style="position:absolute;right:5%;bottom:0;z-index:99999"><ion-icon name="remove-circle"></ion-icon></button>
  </div>
  <ion-list>
    <ion-item>
      <ion-label color="dark">公司名称</ion-label>
      <ion-input placeholder="个人/公司" [(ngModel)]="companyName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">联系人</ion-label>
      <ion-input placeholder="王某某" [(ngModel)]="contact"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">联系电话</ion-label>
      <ion-input type="tel" placeholder="13888888888" [(ngModel)]="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">主营业务</ion-label>
      <ion-select placeholder="行业" cancelText="取消" okText="确定" [(ngModel)]="industry">
        <ion-option>回收型</ion-option>
        <ion-option>加工型</ion-option>
        <ion-option>贸易型</ion-option>
        <ion-option>冶炼型</ion-option>
      </ion-select>
      <ion-select placeholder="产品" cancelText="取消" okText="确定" [(ngModel)]="product">
        <ion-option>有色金属</ion-option>
        <ion-option>废旧金属</ion-option>
        <ion-option>废钢</ion-option>
        <ion-option>贵金属</ion-option>
        <ion-option>小金属</ion-option>
        <ion-option>建材</ion-option>
        <ion-option>不锈钢</ion-option>
        <ion-option>铁矿石</ion-option>
        <ion-option>生铁</ion-option>
        <ion-option>涂镀</ion-option>
        <ion-option>板材</ion-option>
        <ion-option>管材</ion-option>
        <ion-option>型材</ion-option>
        <ion-option>铁合金</ion-option>
        <ion-option>钢坯</ion-option>
        <ion-option>热轧板</ion-option>
        <ion-option>冷轧板</ion-option>
        <ion-option>带钢</ion-option>
        <ion-option>型材</ion-option>
        <ion-option>废纸</ion-option>
        <ion-option>废塑料</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="industryDesc" placeholder="行业备注"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">公司地址</ion-label>
      <ion-select (ionChange)="selectChange()" placeholder="省份" [(ngModel)]="provinceName" cancelText="取消" okText="确定">
        <ion-option *ngFor="let p of provinces">{{p}}</ion-option>
      </ion-select>
      <ion-select placeholder="城市" [(ngModel)]="cityName" cancelText="取消" okText="确定">
        <ion-option *ngFor="let c of citys">{{c}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="addressDesc" placeholder="地址详情"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">是否公开</ion-label>
      <ion-toggle [(ngModel)]="isOpenMsg"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
