page-inbox {

  .card-ios ion-card-content{
    font-size: 1.5rem;
    font-weight: 500;
  }

  ion-label{
    white-space: normal;
    font-size: 80%;
  }

  .positive {
      background: map-get($colors, positive);
  }

  .negative {
      background: map-get($colors, negative);
  }

}
