page-home {
  ion-label {
    white-space: normal;
    font-size: 80%;
  }

  .label-ios {
    margin: 0;
  }

  #btn1 .item-inner {
    border-bottom: 0;
  }

  #btn2 .item-inner {
    border-bottom: 0;
  }

  .positive {
    background: map-get($colors, positive);
  }

  .negative {
    background: map-get($colors, negative);
  }
}
