page-trade {
  .button-clear-ios {
    color: white;
  }

  .cityClass {
    color: map-get($colors,navbar);
  }

  .dateClass {
    color: map-get($colors, secondColor);
  }

  .colorClass {
    color: #026800;
  }

  .item-ios{
    padding-left: 0;
  }
}
