// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-col[width-30] {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30%;
  max-width: 30%;
}

ion-col[width-70] {
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 70%;
  max-width: 70%;
}

.label-ios {
  margin: 0;
}

.secondColor {
  color: #ccc;
  font-size: 80%;
}
