<ion-header>

  <ion-navbar color='navbar'>
    <ion-title>{{titleStr}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment *ngIf="from" padding color='tabColor' [(ngModel)]="type" (ionChange)="onSegmentChanged()">
    <ion-segment-button value="qh">
      期货
    </ion-segment-button>
    <ion-segment-button value="xh">
      现货
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-item-sliding *ngFor="let com of comList" #slidingComItem>
      <button ion-item (click)="goDetail(com.url)">
            <ion-row>
              <ion-col>
                {{com.title}}
              </ion-col>
            </ion-row>
            <ion-row class="secondColor">
              <ion-col>
                {{com.proName}}
              </ion-col>
              <ion-col text-right center>
                {{com.date}}
              </ion-col>
            </ion-row>
      </button>
      <ion-item-options side="right">
        <button *ngIf="com.isOrder == 'NO'" ion-button (click)="subscribeOrC(com, 'YES' ,slidingComItem)">
          关注
        </button>
        <button *ngIf="com.isOrder != 'NO'" ion-button color='danger' (click)="subscribeOrC(com, 'NO', slidingComItem)">
          取消
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
