page-comment-list {
  .label-ios{
    margin:0;
  }

  ion-label{
    white-space: normal;
  }

  .dateColor{
    font-size: 80%;
    color:map-get($colors, dateColor);
  }

  .smallColor{
    font-size:80%;
    color: map-get($colors, smallColor);
  }
}
