<ion-header>

  <ion-navbar color='navbar'>
    <ion-title>{{titleStr}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let com of comList" #slidingComItem>
      <button ion-item (click)="goDetail(com.url)">
        <ion-row>
        <ion-col width-25 style="display:flex;flex-direction:column;justify-content:center;align-items:center">
          <!-- <div style="height:100%;position:relative"> -->
          <img [src]="com.avatar" style="width:60px" />
          <!-- </div> -->
        </ion-col>
        <ion-col>
            <ion-row>
              <ion-col>
                {{com.title}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="font-size:80%">
                {{com.proName}}
              </ion-col>
              <ion-col class="dateColor">
                {{com.date}}
              </ion-col>
            </ion-row>
        </ion-col>
        </ion-row>
      </button>
      <ion-item-options side="right">
        <button *ngIf="com.isOrder == 'NO'" ion-button (click)="subscribeOrC(com, 'YES' ,slidingComItem)">
          添加关注
        </button>
        <button *ngIf="com.isOrder != 'NO'" ion-button color='danger' (click)="subscribeOrC(com, 'NO', slidingComItem)">
          取消关注
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
