page-price {
  .swiper-container {
    height: auto;
    width: 100%;
  }

  .label-ios{
    margin: 0;
  }

  ion-list {
    width: 100%;
  }

  .gallery-thumbs .swiper-slide {
    width: auto;
    height: 100%;
    padding: 10px;
  }

  .toolbar-background-ios {
    border-bottom-width: 0;
  }

  .market {
    background-color: map-get($colors, light);
  }

  .swiper-slide {
    font-size: inherit;
  }

  .swiper-wrapper .pro {
    overflow: scroll;
    overflow-x: hidden;
    display: block;
  }

  ion-label{
    white-space: normal;
  }
}
