page-comment {
  .swiper-container {
    height: auto;
    width: 100%;
  }

  ion-item.item-ios.item-block > .item-inner {
    padding-right: 0;
  }

  .item-ios {
    width: 100%;
  }

  .gallery-thumbs .swiper-slide {
    width: auto;
    height: 100%;
    padding: 10px;
  }

  .toolbar-background-ios {
    border-bottom-width: 0;
  }

  .marketC {
    background-color: map-get($colors, light);
  }

  .swiper-slide {
    font-size: inherit;
  }

  .swiper-wrapper .pro {
    overflow: scroll;
    overflow-x: hidden;
    display: block;
  }

  #small .item-inner {
    border-bottom: 0;
  }

  #firstTitle .item-inner {
    border-bottom: 0;
  }

  ion-label {
    white-space: normal;
  }
}
